.elevator {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: $elevator-color;
  position: relative;
  border-radius: 15px;


  &__info{
    width: 50%;
    text-align: center;
    background-color: rgb(255, 134, 134);
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    padding: 2px 0;
    color: white;
  }
  &__img-move{
    height: 12px;
    margin-right: 3px;
  }

  &__door{
    width: 50%;
    background: -webkit-gradient(linear,  right top, left top,  color-stop(55%, transparent), color-stop(55%, white)) right;
    background: -o-linear-gradient(right,  transparent 55%, white 55%) right;
    background: linear-gradient(to left,  transparent 55%, white 55%) right;
    background-size: 200%;
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    border-radius: 5px 5px 0 0;
    margin: auto;
    margin-top: 5px;
  }
}

.open-close{
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: openСlose;
          animation-name: openСlose;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear
}
@-webkit-keyframes openСlose {
  50% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
@keyframes openСlose {
  50% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

//анимация появления инфикатора на кабине лифта
.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}