* {
  padding: 0;
  margin: 0;
}
#app {
  height: 100vh;
  background: -webkit-linear-gradient(90deg, #f6f7f8,#e1e8f2,#d9e1ee);
  background: linear-gradient(90deg, #f6f7f8,#e1e8f2,#d9e1ee);
}

@import './variables.scss';
@import './shaft-lift.scss';
@import './elevator.scss';
